.pathfinding {

}

.pathfinding-header {
  display: flex; justify-content: center; align-items: center;
}

.pathfinding-header-btn {
  padding: 1rem 2rem;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-weight: bold; font-size: 24px;
  background-color: rgb(173, 98, 55);
  margin: 1rem;
  cursor: pointer;
}

/* IMPORTANT! we can't set border around nodes div because it breaks the x & y coordinates of the child nodes */
.pathfinding-nodes {
  display: flex; justify-content: flex-start; align-items: center;
  flex-wrap: wrap;
}

.pathfinding-nodes-node {
  border: 1px solid black;
  transition: all .2s ease;
  font-size: 12px;
  background-color: white;
}
